.header {
    background-color: grey;
    border-radius: 5px;
    padding: 3px;
    display: flex;
}

.usersHeader {
    overflow-x: auto;
}

.headerUser {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
}

.appList {
    background-color: grey;
    border-radius: 5px;
    padding: 3px;
}

.app {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}